**/__pycache__/
**/*.log
**/*.tmp
Scripts/Modeling/Edit/PlugIt/Preferences/TAB_PLUGIT_SECOND_ID.json
Scripts/Modeling/Edit/gs_curvetools/log.log
Scripts/Modeling/Edit/ModIt/Preferences/settingsFile.ini
